body{
    background-color: rgba(0, 255, 157, 0.514);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1{
    font-size: 30px;
}

.first{
    color: red;
}

#your-name{
    background-color: rgb(127, 197, 255);
    border: 5px solid #444;
}